/* Based on the  Mamun Khandaker's code: https://www.uplabs.com/posts/candle-flame-animation-with-pure-css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');


*, *:before, *:after {
  margin: 0;
  padding: 0;
  word-break: break-all;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
  overflow: hidden;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #6e6e6e;
  font-size: 1.6rem;
  background-color: #fce5e5;
}

.counter{
    padding: 40px 0px;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left:30%;
    z-index: 1;
}

.candles{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 180px;
    left: 46%;
    z-index: 1;
}

.center {
  width: 1170px;
  margin: 20px auto 0;
}

.holder {
  margin: 0;
  width: 40px;
  height: 400px;
  position: relative;
}

.holder *, .holder *:before, .holder *:after {
  position: absolute;
  content: "";
}

.candle {
  bottom: 0;
  width: 30px;
  height: 200px;
  border-radius: 100px / 40px;
  box-shadow: inset 20px -30px 50px 0 rgba(188, 188, 188, 0.4), inset -20px 0 50px 0 rgba(188, 188, 188, 0.4);
  background: #190f02;
  background: -moz-linear-gradient( #cfd9df 0%, #e2ebf0 100% );
  background: -webkit-linear-gradient( #cfd9df 0%, #e2ebf0 100% );
  background: -o-linear-gradient( #cfd9df 0%, #e2ebf0 100% );
  background: -ms-linear-gradient( #cfd9df 0%, #e2ebf0 100% );
  background: linear-gradient( #cfd9df 0%, #e2ebf0 100% );
}

.candle:after {
  width: 30px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
}

.thread {  
  width: 6px;
  height: 36px;
  top: -26px;
  left: 50%;
  z-index: 1;
  border-radius: 40% 40% 0 0;
  transform: translateX(-50%);
  background: #121212;
  background: -moz-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -webkit-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -o-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -ms-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
}
 
.flame {
  cursor: pointer;
  width: 18px;
  height: 90px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 50% 50% 20% 20%;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(white 80%, transparent);
  background: -webkit-linear-gradient(white 80%, transparent);
  background: -o-linear-gradient(white 80%, transparent);
  background: -ms-linear-gradient(white 80%, transparent);
  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}
.flame:hover{
  animation: moveFlameHover 6s linear infinite, enlargeFlame 5s linear infinite;
  width: 20px;
  left: 67%;
}
.flame:before {
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, .4), 0 -6px 4px 0 rgba(247, 128, 0, .7);
}

@keyframes moveFlame {
  0%, 100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes moveFlameHover {
  0%, 100% {
    transform: translateX(-80%) rotate(-1deg);
  }
  1%{
    transform: translateX(-70%) rotate(1deg);
  }
  2%{
    transform: translateX(-80%) rotate(-1deg);
  }
  3%{
    transform: translateX(-70%) rotate(1deg);
  }
  4%{
    transform: translateX(-70%) rotate(1deg);
  }
  5%{
    transform: translateX(-80%) rotate(-1deg);
  }
  6%{
    transform: translateX(-70%) rotate(1deg);
  }

  50% {
    transform: translateX(-70%) rotate(3deg);
  }
}

@keyframes enlargeFlame {
  0%, 100% {
    height: 80px;
  }
  50% {
    height: 100px;
  }
}

.glow {
  width: 18px;
  height: 50px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, .7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c, inset 3px 0 2px 0 rgba(0, 133, 255, .6), inset -3px 0 2px 0 rgba(0, 133, 255, .6);
}

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

.blinking-glow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;
  -webkit-filter: blur(50px);
  -moz-filter: blur(60px);
  -o-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(60px);
  animation: blinkIt .1s infinite;
}

@keyframes blinkIt {
  50% { opacity: .8;}
} 


/* Images style  */
.sign{
  display: flex;
  justify-content: center;
  width: 100%;
}
.posters{
  width: 100%;
}
.poster{
  position: absolute;
  top: 20%;
  z-index: -1;
}
.m2{
  left: 10%;
  width: 300px;
}
.m1{
  right: 5%;
  width: 500px;
}

.img-sign{
  width: 100vw;
  height: 30vh;
  position: fixed;
  top: -25px;
  z-index: -1;
}
.table{
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-table{
  position: fixed;
  bottom: 0%;
  width: 100%;
  filter: drop-shadow(0 0 0.5rem #000000);
}

.table-items{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 50px;
  z-index: 1;
  gap: 2%;
}
.table-item{
  width: 210px;
  /* position: fixed; */
}

.bee{ 
  left: 10%;
}

.estasquad{
  width: 200px;
  height: 150px;
}

.levi{
  right: 10%;
}
.cake{
  z-index: 1;
  width: 250px;
}

.ujaja{
  width: 100px;
}

.bee:hover, .estasquad:hover, .levi:hover,.poster:hover, .cake:hover, .ujaja:hover, .box:hover, .moms:hover{
  filter: drop-shadow(0 0 1rem #950101);
  cursor: pointer;
}


.img-sign:hover{
  filter: drop-shadow(0 0 1rem #950101);
  cursor: pointer;
}

#estasquad-video, #princesas-video,#arlett-video{
  display: none;
  justify-content: center;
  position: fixed;
  top: 10%;
  z-index: 3;
}

#arlett-video{
  top: 1%;
}

.tailus{
  width: 450px;
  position: fixed;
  bottom: 0%;
  right: 25%;
}
#tailus4{
  width: 520px;
}
#tailus2,#tailus3,#tailus4{
  display: none;
}

.happy-bday{
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  text-align: center;
  z-index: 2;
  background-color: #950101;
  color: #DDDDDD;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 50px;
  line-height: 110%;
  padding: 8%;
  word-break: break-word;
}

.final-img{
  width: 400px;
}
.sign2{
  width: 150px;
}
.final-fam{
  width: 150px;
}
#puzzle, #posterMom{
  display: none;
}
.puzzle{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
  background-color: #30475eb0;
  display: flex;
  justify-content: center;
  cursor: zoom-out;
}
.puzzle img{
  z-index: 3;
}
#win{
  display: none;
  justify-content: center;
  align-items: center;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 30px;
  color: #30475e;
}
#win1,#win2,#win3,#win4,#win5{
  display: none;
}
.card{
  display: flex;
  background: #DDDDDD;
  border:10pt solid #222831;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width: 700px;
  height: 400px;
  word-break: break-word;
}
#win5{
  padding: 2%;
  /* width: 800px; */
  height: 550px;
}
.card-img{
  width: 300px;
  height: auto;
}
@media only screen and (orientation:portrait){
  body{
    height: 100vw;
    transform: rotate(90deg);
  }
}

@media screen and (min-width:2560px) {
  .img-table{
    bottom: -30px;
  }
  .table-item{
    width: 220px;
  }
  .cake{
    width: 300px;
  }
  .holder{
    margin: 0 85px 0;
  }
  .happy-bday{
    font-size: 100px;
  }
  
  .final-img{
    width: 800px;
  }
  .sign2{
    width: 200px;
  }
  .final-fam{
    width: 200px;
  }
}

@media screen and (min-width:1024px) {
 
  .happy-bday{
    font-size: 40px;
  }
   
  .final-img{
    width: 260px;
  }
  .sign2{
    width: 80px;
  }
  .final-fam{
    width: 80px;
  }
}

@media screen and (max-width:915px) {

  body{
    width: 100vw;
  }
  .happy-bday{
    font-size: 10px;
    padding: 4%;
  }
   
  .final-img{
    width: 260px;
  }
  .sign2{
    width: 80px;
  }
  .final-fam{
    width: 80px;
  }
  .table-item{
    width: 60px;
    height: auto;
  }
  .cake{
    width: 150px;
  }

  .tailus{
    /* width: 180px; */
    width: 20%;
  }
  #tailus4{
    /* width: 250px; */
    width: 22%;
  }
  .m2{
    /* width: 150px; */
    width: 15%;
  }
  .m1{
    /* width: 220px; */
    width: 20%;
  }

  .candle{
    /* width: 10px;
    height: 50px; */
    width: 30%;
    height: 10%;
  }
  .candle:after{
    /* width: 9px; */
    width: 30%;
    top: 0px;
  }
  .thread{
    /* width: 4px;
    height: 20px; */
    width: 26%;
    height: 55%;
    top: -16px;
  }
  .flame{
    /* width: 10px;
    height: 5px; */
    width: 100%;
    height: 20%;
  }
  .flame:before{
    height: 0px;
  }
  .flame:hover{
    /* width: 12px; */
    width: 105%;
  }

  @keyframes enlargeFlame {
    0%, 100% {
      /* height: 60px; */
      height: 110%;
    }
    50% {
      /* height: 30px; */
      height: 120%;
    }
  }
  .glow{
    width: 10px;
    height: 25px;
    top: -20px;
  }
  .blinking-glow{
    width: 50px;
  }
  .holder{
    margin: 0 30px 0;
  }

  .counter{
    font-size: 12px;
  }
  #win5{
    /* font-size: 20px; */
    /* width: 500px;
    height: 400px; */
    width: 80%;
    height: 70%;
    font-size: 40%;
    line-height: 100%;
  }
  #win5 .card-img{
    /* width: 200px; */
    width: 25%;
  }
  .final-img{
    width: 30%;
  }
  .sign2{
    width: 12%;
  }
  .final-fam{
    width: 12%;
  }
}